.xblog-comment-form .mdui-textfield {
    padding: 0;
}

.xblog-comment-form .xblog-padding-right {
    padding-right: 5px;
}

.xblog-comment-form .xblog-padding-left {
    padding-left: 5px;
}

.xblog-comment-form .mdui-btn {
    margin-top: 15px;
}

.xblog-comment-new {
    border: 1px solid silver;
    padding: 15px 20px;
    margin: 0px;
    border-radius: 7px;
}

.xblog-comment-form h2 {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    margin-left: 0px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.35;
    color: inherit;
    font-size: 1.5em;
}

.xblog-comment .mdui-card {
    margin-bottom: 15px;
}

.xblog-no-padding {
    padding: 0 !important;
}

.x-comment-submit-left {
    margin-top: 15px;
}

.x-comment-submit-left label {
    margin-top: unset;
    margin-left: 13px;
}